In [2]:
!pip install category-encoders

Collecting category-encoders
  Downloading category_encoders-2.9.0-py3-none-any.whl.metadata (7.9 kB)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.12/dist-packages (from category-encoders) (2.0.2)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.12/dist-packages (from category-encoders) (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.12/dist-packages (from category-encoders) (1.0.2)
Requirement already satisfied: scikit-learn>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from category-encoders) (1.6.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from category-encoders) (1.16.3)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.12/dist-packages (from category-encoders) (0.14.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category-encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category-encoders) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.5->category-encoders) (2025.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category-encoders) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn>=1.6.0->category-encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.12/dist-packages (from statsmodels>=0.9.0->category-encoders) (25.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.5->category-encoders) (1.17.0)
Downloading category_encoders-2.9.0-py3-none-any.whl (85 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.9/85.9 kB 3.2 MB/s eta 0:00:00
Installing collected packages: category-encoders
Successfully installed category-encoders-2.9.0

In [3]:
import pandas as pd
import category_encoders as ce

In [5]:
df = pd.read_csv("/content/drive/MyDrive/Encoding/House_price.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
print(df[['Neighborhood', 'Exterior1st']].head(15))

   Neighborhood Exterior1st
0       CollgCr     VinylSd
1       Veenker     MetalSd
2       CollgCr     VinylSd
3       Crawfor     Wd Sdng
4       NoRidge     VinylSd
5       Mitchel     VinylSd
6       Somerst     VinylSd
7        NWAmes     HdBoard
8       OldTown     BrkFace
9       BrkSide     MetalSd
10       Sawyer     HdBoard
11      NridgHt     WdShing
12       Sawyer     HdBoard
13      CollgCr     VinylSd
14        NAmes     MetalSd

In [7]:
# Binary Encoding
binary_encoder = ce.BinaryEncoder(
    cols=['Neighborhood', 'Exterior1st']
)
df_encoded = binary_encoder.fit_transform(df[['Neighborhood', 'Exterior1st']])

In [8]:
print("\nAfter Binary Encoding:")
print(df_encoded.head(20))

After Binary Encoding:
    Neighborhood_0  Neighborhood_1  Neighborhood_2  Neighborhood_3  \
0                0               0               0               0
1                0               0               0               1
2                0               0               0               0
3                0               0               0               1
4                0               0               1               0
5                0               0               1               0
6                0               0               1               1
7                0               0               1               1
8                0               1               0               0
9                0               1               0               0
10               0               1               0               1
11               0               1               0               1
12               0               1               0               1
13               0               0               0               0
14               0               1               1               0
15               0               1               0               0
16               0               1               1               0
17               0               1               0               1
18               0               1               1               0
19               0               1               1               0

    Neighborhood_4  Exterior1st_0  Exterior1st_1  Exterior1st_2  Exterior1st_3
0                1              0              0              0              1
1                0              0              0              1              0
2                1              0              0              0              1
3                1              0              0              1              1
4                0              0              0              0              1
5                1              0              0              0              1
6                0              0              0              0              1
7                1              0              1              0              0
8                0              0              1              0              1
9                1              0              0              1              0
10               0              0              1              0              0
11               1              0              1              1              0
12               0              0              1              0              0
13               1              0              0              0              1
14               0              0              0              1              0
15               1              0              0              1              1
16               0              0              0              1              1
17               0              0              0              1              0
18               1              0              0              0              1
19               0              0              1              0              1