In [ ]:
import pandas as pd

In [3]:
df=pd.read_csv("/content/drive/MyDrive/Encoding/StudentsPerformance.csv")
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [4]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [5]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['gender_enc'] = le.fit_transform(df['gender'])
df['lunch_enc'] = le.fit_transform(df['lunch'])
df['test_prep_enc'] = le.fit_transform(df['test preparation course'])

In [6]:
df[['gender', 'gender_enc','lunch','lunch_enc','test preparation course','test_prep_enc']].head()

,gender,gender_enc,lunch,lunch_enc,test preparation course,test_prep_enc
0,female,0,standard,1,none,1
1,female,0,standard,1,completed,0
2,female,0,standard,1,none,1
3,male,1,free/reduced,0,none,1
4,male,1,standard,1,none,1

In [7]:
from sklearn.preprocessing import OrdinalEncoder

education_order = [
    'some high school',
    'high school',
    'some college',
    "associate's degree",
    "bachelor's degree",
    "master's degree"
]

ord_enc = OrdinalEncoder(categories=[education_order])

df['parent_edu_enc'] = ord_enc.fit_transform(
    df[['parental level of education']]
)

In [8]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,gender_enc,lunch_enc,test_prep_enc,parent_edu_enc
0,female,group B,bachelor's degree,standard,none,72,72,74,0,1,1,4.0
1,female,group C,some college,standard,completed,69,90,88,0,1,0,2.0
2,female,group B,master's degree,standard,none,90,95,93,0,1,1,5.0
3,male,group A,associate's degree,free/reduced,none,47,57,44,1,0,1,3.0
4,male,group C,some college,standard,none,76,78,75,1,1,1,2.0

In [9]:
df[['parental level of education','parent_edu_enc']].head()

  parental level of education  parent_edu_enc
0           bachelor's degree             4.0
1                some college             2.0
2             master's degree             5.0
3          associate's degree             3.0
4                some college             2.0

In [10]:
df = pd.get_dummies(
    df,
    columns=['race/ethnicity'],
    drop_first=True
)

In [11]:
df.head()

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,gender_enc,lunch_enc,test_prep_enc,parent_edu_enc,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E
0,female,bachelor's degree,standard,none,72,72,74,0,1,1,4.0,True,False,False,False
1,female,some college,standard,completed,69,90,88,0,1,0,2.0,False,True,False,False
2,female,master's degree,standard,none,90,95,93,0,1,1,5.0,True,False,False,False
3,male,associate's degree,free/reduced,none,47,57,44,1,0,1,3.0,False,False,False,False
4,male,some college,standard,none,76,78,75,1,1,1,2.0,False,True,False,False

In [12]:
df_encoded = df.drop(
    columns=[
        'gender',
        'parental level of education',
        'lunch',
        'test preparation course'
    ]
)

df_encoded.head()

,math score,reading score,writing score,gender_enc,lunch_enc,test_prep_enc,parent_edu_enc,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E
0,72,72,74,0,1,1,4.0,True,False,False,False
1,69,90,88,0,1,0,2.0,False,True,False,False
2,90,95,93,0,1,1,5.0,True,False,False,False
3,47,57,44,1,0,1,3.0,False,False,False,False
4,76,78,75,1,1,1,2.0,False,True,False,False